/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.acme-btn-primary {
  max-width: 100px;
  min-width: 60px;
}
.pay-button {
  float: right;
  // margin-top: 100px !important;
}
