<div class="row ms-0 me-0 parent-div">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <div class="container-fluid" style="border: 2px solid black" *ngIf="paymentDetails">
      <div class="row">
        <div class="col-12">
          <h1 class="ps-5 pe-5 d-flex justify-content-between">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="50"
              fill="currentColor"
              class="bi bi-cart"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>

            <div>{{ paymentDetails.currency }} {{ paymentDetails.paymentAmount | number: '1.2-2' }}</div>
          </h1>
        </div>
      </div>

      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
